---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Services from "../components/Services.astro";
import Portfolio from "../components/Portfolio.astro";
import Footer from "../components/Footer.astro";
import Lifecycle from "../components/Lifecycle.astro";
---

<Layout title="Hugo Javier Padilla Cavadia - Senior Mobile Developer">
	<Navbar />
	<main>
		<Hero />
		<Skills />
		<Services />
		<Lifecycle/>
		<Portfolio />
	</main>
	<Footer />
</Layout>
